<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>emails example</title>
</head>
<body>
  <div id="app">
    <i-table :columns="columns" :data="emails">
      <template slot-scope="{ row }" slot="from">
        {{ getContactString(row.fromAddress, row.fromName) }}
      </template>
      <template slot-scope="{ row }" slot="to">
        {{ getContactString(row.toAddress, row.toName) }}
      </template>
      <template slot-scope="{ row }" slot="createdAt">
        {{ row.createdAt | datetime }}
      </template>
    </i-table>
  </div>
  <script type="text/javascript" src="/javascripts/app.js"></script>
</body>
</html>
